body{

    height: 100vh;
    width: 100vw;

}
header{
    grid-area: he;
    font-size:40px;
    
}
nav{

    grid-area: na;
    color: white;

}
main{

    grid-area: ma;

 font-size: 25px;
}



 #column1{
    grid-area: as1;
    
    
}

#column2{
    grid-area: as2;

}
 

#text2{
    grid-area: te2;
    color: white;
}
#text1{
    grid-area: te1;
    color: white;
}
#link{
    grid-area: li;
    color: white;
    
}
#wrapper{
    display: grid;
    background-image: url('vatten.jpg');
    height: 100%;
    grid-template-columns: 20% 20% 15% 25% 20%;
    grid-template-rows: 8% 20% 32% 35% 5%;
    

    grid-template-areas: 
    ". he he he he"
    "na na na na na"
    "ma ma ma ma ma"
    "as1 as1 . as2 as2"
    "te1 te1 li te2 te2"
    ;

}

