header{

    background-color: rgb(242, 190, 144);
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Zeyada', cursive;
    
    
    }
    
    nav{
    
     background-color: rgb(199, 124, 203);
     height: 50px;
     width: 100%;
    
    }
    #container{
    
    
    display: flex;
    
    
    }
    
    aside{
    
     background-color: rgb(120, 217, 164);
     height: 400px;
     width: 20%; 
    
    
    
    
    
    
    }
    main{
    
     background-color:rgb(217, 117, 127);
     height: 400px;
     width: 80%;
    
    }
    footer{
    
    
     background-color:rgb(26, 18, 66);
     height: 50px;
     width: 100%;
    
    
    }